
.n-main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.n-header{
    background-color: #1a1a1a;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 15px rgba(255, 166, 0, 0.5);
    margin-top: 20px;
}

.n-header button{
    padding: 8px 14px;
    border: 1px solid transparent;
    background-color: rgb(229, 143, 14); 
    cursor: pointer;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.3s;
}

.n-header button:hover {
    background-color: #e69528; 
    box-shadow: 0 0 10px rgba(229, 143, 14, 0.8);
}

.n-credential {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.hii{
    font-size: 3rem;
    font-weight: 700;
    color: #e69528;
}

.n-bars{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.n-1 , .n-2 , .n-3 {
    background-color: #1a1a1a;
    width: 180px;
    height: 95%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid rgb(229, 143, 14);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.n-bar:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(229, 143, 14, 0.4);
}

.n-4 {
    width: 65% ; 
    background-color: #1a1a1a;
    height: 95%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-top: 3px solid rgb(229, 143, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
}

.n-4::-webkit-scrollbar{
    display: none;
}

.n-4 div {
    height: 80px;
    width: 80px ;
    border-radius: 6px;
    border: 2px solid #e69528;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.n-4 div:hover {
    box-shadow: 0 0 10px rgba(229, 143, 14, 0.8);
}

.n-4 div img {
    height: 95%;
    width: 95%;
    object-fit: cover;
    cursor: pointer;
}

.n-title{
    font-size: 18px;
    color: aliceblue;
    font-weight: 600;
}

.n-val{
    font-size: 30px;
    color: #e69528;
    font-weight: 700;
}

.n-questions {
    height: 100px;
    width: 90%;
    background-color: #1a1a1a;
    border-bottom: 3px solid rgb(229, 143, 14);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.n-q{
    height: 95%;
    font-size: 45px;
    color: aliceblue;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #e69528;
}

.q-main{
    height: 95%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.q-1{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.que {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    height: 100%;
    width: 90%;
}

.q-controls{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-left: 2px solid #e69528;
}

.q-controls button{
    height: 45px;
    width: 45px;
    background-color: #e69528;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid #673a00;
}

.q-2 {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #2e2e2e;
}

.answer{
    background-color: #1a1a1a;
    height: 380px;
    width: 90%;
    border-radius: 10px;
    border: 2px solid #e69528;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.hint{
    height: 15%;
    width: 98%;
    display: flex;
    font-size: 20px;
    align-items: center;
    border-bottom: 1px solid gray;
}

.act-hint{
    width: 75%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 14px;
}

.h-controls{
    width: 25%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.f-size{
    display: flex;
}

.f-size button{
    height: 35px;
    width: 35px;
    background-color: #e69528;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.f-size button:hover{
    border: 2px solid #ab6100;
}

.difficulty-btns {
    display: flex;
}

.difficulty-btns button{
    height: 35px;
    width: 35px;
    background-color: #e69528;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.difficulty-btns button:hover{
    border: 2px solid #ab6100;
}

.number-btns {
    display: flex;
}

.number-btns button{
    height: 35px;
    width: 35px;
    background-color: #e69528;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-btns button:hover{
    border: 2px solid #ab6100;
}

.ans{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ans textarea {
    height: 98%;
    width: 98%;
    font-size: 20px;
    color: #e69528;
    text-decoration: none;
    border: none;
    padding: 0px 5px ; 
    background-color: transparent;
}

